@charset "UTF-8";

/* div>button{
    background-color: pink;
    color: blue;
    block-size: 100px;
} */

.inputtag{
    width: 250px;
    height: 30px;
    margin-top: 20px;
}

.signUpBtn{
    width: 350px;
    height: 50px;
}